{% extends 'base.html.twig' %}

{% block content %}

    <div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                Dashbord
            </div>
        </div>
    </div>
{% endblock %}