<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <div class="row">
                <footer class="main">
                    &copy; 2020
                    <strong>Tritux</strong> You think it...We do it
                    <a target="_blank" href="http://www.tritux.com">tritux.com</a>
                </footer>
            </div>
        </div>
    </div>
</div>